FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=agro_super_secret_key_849204921
JWT_SECRET_KEY=jwt_agro_super_secret_key_583920193
DATABASE_URL=sqlite:///agropredict.db
WEATHER_API_KEY=mock_weather_key
